.header{
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: white;
    padding: 10px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header_logo{
    color: white;
    font-size: 12px;
    user-select: none;
}