.login_form{
    height: 300px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.login_form > p{
    font-size: 14px;
}

.login_form > form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 220px;
}

.login_form > form > input{
    width: 220px;
    height: 40px;
    padding: 6px;
}

.login_form > form > input, .login_form > form > button {
    font-size: 16px;
    margin: 0.7rem;
}

.login_form > form > button {
    width: 220px;
    height: 40px;
    background-color: #1D1E2C;
    color: white;
    outline: none;
    border: none;
    border-radius: 2px;
}