@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    outline: none;
    color: black;
}
input {
    outline: none;
    
}
body{
    height: 100vh;
    font-family: "Open Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: url(../media/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.panel{
    width: 90vw;
    height: max-content;
    min-height: 70vh;
    max-width: 1296px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 40px;
    position: absolute;
    top: 100px;
}
button{
    border: none;
    cursor: pointer;
}
/* ------ PRZYCISKI */

/* usuwanie z ikonką kosza */
.delete_btn--icon{
    height: 35px;
    width: 60px;
    background-color: #f44336;
    color: white;
    transition: all .2s;
    font-size: 18px;
}
.delete_btn--icon:hover{
    background-color: #d36c6c;
}

/* edycja z ikonką */
.update_btn--icon{
    height: 35px;
    width: 60px;
    background-color: #1D1E2C;
    color: white;
    transition: all .2s;
    font-size: 18px;
}
.update_btn--icon:hover{
    background-color: #393b58;
}
/* przycisk akcji 3, np "przypisz" */
.action_btn--green{
    background-color: #15B606;
    color: white;
    font-size: 12px;
    height: 35px;
    width: 120px;
    transition: all .2s;
    font-weight: bold;
}
.action_btn--green:hover{
    background-color: #89b486;
}

/*przyciski modalne**/

.btn_modal--accept{
    width: 90px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color: #1D1E2C;
    color: white;
}
.btn_modal--cancel {
    width: 90px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color:#c5c5c5;
}
.btn_modal--delete {
    width: 90px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color:#f44336;
    color:white;
}