.nagroda {
    height: 150px;
    width: 60%;
    padding: 10px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nagroda-title{
    font-size: 24px!important;
    font-weight: bold;
}
.nagroda-button {
    font-size: 24px;
    height: 50px;
    width: 120px;
    background-color: rgb(58, 126, 58);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: all 0.2s;
    font-weight: bold;
}
.nagroda-button:hover{
    background-color: rgba(58, 126, 58, 0.80);  
}